# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

Create a Jupyter Notebook

Insert code and markdown cells

Share your notebook through GitHub

#### List popular languages for Data Science
* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:
- R
- Python
- SQL

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib
* Seaborn

In [1]:
import pandas as pd
data = {
    'Data Science Tools': ['Jupyter Notebooks', 'RStudio', 'Spyder'],
}
df = pd.DataFrame(data)
df

  Data Science Tools
0  Jupyter Notebooks
1            RStudio
2             Spyder

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

hours

3.3333333333333335

In [3]:
# This a simple arithmetic expression to mutiply then add integers
expr = (3*4)+5
expr

17

## Author 
## Minh Pham